<br>
<br>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <button class="active"> Sign In </button>
    <button onclick="document.getElementById('id01').style.display='block'" class="inactive">Sign Up </button>
    <div id="id01" class="modal">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <form class="modal-content" action="/action_page.php">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
          <form #userModel="ngForm"  (ngSubmit)="onSubmit(userModel)">
            
            <label for="username"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" #name="ngModel" required name="name"  [(ngModel)]="userModel.name" value="Username" required>
            <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
            <br>
            <br>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email"  [(ngModel)]="userModel.email"  value="Email" required>

          <label for="Phone"><b>Phone</b></label>
          <input type="text" #phone="ngModel" pattern="^\d{10}$" required
          [class.is-invalid]="phone.invalid && phone.touched" placeholder="Phone Number" name="phone" [(ngModel)]="userModel.phone"   value="Phone" required>
          <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone is required</small>
          <br>
          <br>
          <label for="contactaddress"><b>Contact Address</b></label>
          <input type="text" placeholder="Contact Address" name="contactaddress" [(ngModel)]="userModel.contactaddress"   value="ContactAddress" required>
          
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="userModel.password"   value="Password" required>
    
  
    
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn" >Cancel</button>
            <button [disabled]="userModel.form.invalid" type="submit"  class="signupbtn" >Sign Up</button>
         
           </div>
          </form>
          </div>
      </form>
    </div>
    
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/one.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #userForm="ngForm" (ngSubmit)="loginUser(userForm)">
      <input type="text" id="login" class="fadeIn second" [(ngModel)]='userForm.login' name="login" placeholder="login">
      <input type="text" id="pass" class="fadeIn third" [(ngModel)]='userForm.pass' name="pass" placeholder="password">
      <input  type="submit" class="fadeIn fourth"  value="Log In">
    </form>

  </div>
</div>
<script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  </script>