
  
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    
    <div class="container">
          
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          
        </button>
        <a class="navbar-brand" routerLink="/home/$">Chillfliz</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/home/$" >Dashboard</a></li>
          <li routerLinkActive="active"><a routerLink="/explore/$">Explore</a></li>
          <li routerLinkActive="active"><a routerLink="/settings/$">Settings</a></li>
          
        </ul>
      </div><!--/.nav-collapse -->
      
    </div>
  </nav>

  <!-- Main Content -->

  <!--<router-outlet></router-outlet>-->
  <main class="main__container">
    
    <router-outlet></router-outlet>
  </main>
  

